@charset "utf-8";
html,body,div,h2,ul,li,span,em,p,dl,dd,i,input, textarea, select, option,button,a{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
    font-family: "Microsoft Yahei","宋体", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "WenQuanYi Micro Hei", "sans-serif";
    font-size: 14px;
    background: #fff;
    height: 100%;
    overflow: hidden;
    color: #666;
}
html,body,#app{
  width: 100%;
  height: 100%;
}
ul,li{
  list-style: none;
}
h2{
  font-size: 14px;
  font-weight: normal;
}
button{
  border: none;
  cursor: pointer;
}
textarea{
  resize: none;
  border-radius: 5px;
  color: #5a5e66;
  border-color: #D8DCE5;
  width: 100%;
  padding: 10px;
  min-height: 70px;
}
a{
  text-decoration: none;
  cursor: pointer;
}
em{
  font-style: normal;
}
.loncom_family_yahei{
  font-family: "Microsoft Yahei";
}
.loncom_color{
  color: #0064aa;
}
.loncom_color1ABC9C{
  color: #1ABC9C;
}
.loncom_color108EE9{
  color: #108EE9;
}
.loncom_color999{
  color: #999;
}
.loncom_font_size12{
  font-size: 12px;
}
.loncom_ml5{
  margin-left: 5px !important;
}
.loncom_ml10{
  margin-left: 10px !important;
}
.loncom_ml15{
  margin-left: 15px !important;
}
.loncom_mr5{
  margin-right: 5px !important;
}
.loncom_mr10{
  margin-right: 10px !important;
}
.loncom_mb10{
  margin-bottom: 10px !important;
}
.loncom_mb15{
  margin-bottom: 15px !important;
}
.loncom_mt10{
  margin-top: 10px !important;
}
.loncom_pr20{
  padding-right: 20px !important;
}
.loncom_mb20{
  margin-bottom: 20px !important;
}
.loncom_mb50{
  margin-bottom: 50px !important;
}
.loncom_fl{
  float:left;
}
.loncom_fr{
  float: right;
}
.loncom_overflow_hidden{
  overflow: hidden;
}
.loncom_public_shadow {
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}
.loncom_public_shadow:hover {
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
}
.loncom_dis_inline{
  display: inline;
}
.loncom_dis_inlineblock{
  display: inline-block;
}
.loncom_content{
  width: 100% !important;
  height: 100% !important;
}

.loncom_topnav{
  width: 100%;
  height: 66px;
  background: url(../images/nav_bg.jpg) repeat right center;
  background-size: 100% 100%;
}
.loncom_topnav_logo{
  padding: 13px 0 0 13px;
  min-width: 300px;
}
.loncom_topnav ul{
  padding: 2px;
  overflow: hidden;
}
.loncom_topnav li{
  float: left;
  width: 80px;
  height: 62px;
}
.loncom_topnav li a em{
  width: 26px;
  height: 26px;
  display: block;
  margin: 0 auto 5px auto;
  overflow: hidden;
}
.loncom_topnav li a{
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 5px;
}
.loncom_topnav li a.router-link-active{
  background: url(../images/nav_hover_bg.png) no-repeat center;
  color: #0096BA;
}
.loncom_topnav li a.router-link-active em img{
  margin-top: -26px;
}
.loncom_con{
  width:100%;
  height: -webkit-calc(100% - 66px);
  height: -moz-calc(100% - 66px);
  height: calc(100% - 66px);
  position: relative;
}
.loncom_con_left{
  height: 100%;
  float: left;
  position: absolute;
  left: 0;
  z-index: 99;
  background: #B2DFE6;
  transition: all .2s linear;
}
.loncom_left_navtop{
  width: 100%;
  height: 40px;
  background: #02657C;
  text-align: center;
  cursor: pointer;
  transition: all .2s linear;
}
.loncom_left_navtop i{
  margin-top: 6px;
  color: #fff;
  font-size: 26px;
  transition: all .2s linear;
}
.loncom_left_navcon li a{
  padding: 12px 0;
  display: block;
  color: #4a787a;
  transition: all .2s linear;
  font-size: 14px;
}
.loncom_left_navcon li em{
  display: inline-block;
  height: 20px;
  overflow: hidden;
  vertical-align: middle;
  transition: all .2s linear;
  margin: 0 8px 0 20px;
}
.loncom_left_navcon li em img{
  height: 40px;
}
.loncom_left_navcon li span{
  vertical-align: middle;
  transition: all 2s linear;
}
.loncom_left_navcon li .router-link-active{
  color: #1796b8;
}
.loncom_left_navcon li .router-link-active em img{
  margin-top: -20px;
}
.loncom_left_navcon li .router-link-active{
  background: #F3F3F3;
}

.loncom_con_right{
  width: 100%;
  height: 100%;
  float: left;
  transition: all .2s linear;
}
.loncom_con_right .loncom_active{
  display: block;
}

/*地图信息*/
.loncom_search_box{
  position: absolute;
  top: 20px;
  left: 20px;
}
#search_info{
    width: 230px;
    height: 30px;
    line-height: 30px;
    border-radius: 0;
    box-shadow: 0 0 4px #ccc;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0 30px 0 5px;
}
.loncom_search_box span{
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
.loncom_search_box span i{
  margin-top: 7px;
}
.change_box{
    position:absolute;
    right:10px;
    top: 10px;
}
.change_box ul{
    border: 1px solid #D5D4D1;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
}
.change_box li{
    width: 80px;
    height:35px;
    float: left;
    text-align: center;
    line-height: 35px;
    font-size:12px;
    border-right: 1px solid #D5D4D1;
    cursor: pointer;
}
.change_box li:nth-last-of-type(1){
    border: none;
}
.change_box li em{
    width: 14px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.change_box li em.bli{
    width: 16px;
    height: 14px;
}
.change_box li em.sli{
    background: url(../images/sli.svg) no-repeat;
}
.change_box li em.jli{
    background: url(../images/jli.svg) no-repeat;
}
.change_box li em.bli{
    background: url(../images/bli.svg) no-repeat;
}
.change_box li em.dli{
    background: url(../images/dli.svg) no-repeat;
}
.change_box li.active{
    color: #fff;
    background:#13AE67;
}
.change_box li.active em.sli{
    background: url(../images/sli_active.svg) no-repeat;
}
.change_box li.active em.jli{
    background: url(../images/jli_active.svg) no-repeat;
}
.change_box li.active em.bli{
    background: url(../images/bli_active.svg) no-repeat;
}
.change_box li.active em.dli{
    background: url(../images/dli_active.svg) no-repeat;
}

.loncom_map_box{
  min-width: 220px;
  height: auto;
  overflow: hidden;
  box-shadow: 1px 1px 3px #ccc;
  background: #fff;
  font-family: "微软雅黑";
}
.loncom_map_boxtop{
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: #12AE67;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.loncom_map_boxtop .fa-wifi{
  margin: 0 8px;
}
.loncom_map_boxbg{
  width: 100%;
    height: 60px;
    background: #12AE67 url(../images/mapboxbg.svg) no-repeat right top;
    background-size: 60px;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
    line-height: 25px;
    background-position-x: 146px;
}
.loncom_map_boxcon{
  padding: 10px 10px 0 10px;
  font-size: 12px;
}
.loncom_map_boxcon p{
  line-height: 30px;
  height: 30px;
}
.loncom_map_boxcon p.line,
.loncom_map_boxcondetail p.line{
  border-top: 1px solid #efefef;
}
.loncom_map_boxcon p span:nth-of-type(1){
  color: #999;
  width: 60px;
  display: inline-block;
}
.loncom_map_boxcon p span:nth-of-type(3){
  float: right;
  text-align: right;
}
.loncom_map_bottom{
  width: 100%;
  height: 20px;
  line-height: 20px;
  background: #f7f8f8;
  border-top: 1px solid #efefef;
  text-align: center;
  color: #999;
}
.loncom_map_gaoshuiwei{
  margin-bottom: 30px;
}
.loncom_map_shuichang{
  margin-bottom: 30px;
}

.loncom_map_boxcondetail{
  padding: 20px 10px 10px 10px;
}
.loncom_map_boxcondetail p{
  height: 22px;
  line-height: 22px;
}
.loncom_map_boxcondetail p.line{
  line-height: 30px;
  margin-top: 10px;
}

.loncom_map_samllbox{
  width: 100px;
  height: 50px;
  padding: 5px 10px;
  background: #12AE67;
  font-size: 12px;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
}
.loncom_map_samllbox p{
  height: 20px;
  line-height: 20px;
}
.loncom_map_samllbox_alarm{
  background: #c93f24;
}
.loncom_map_samllbox_warning{
  background: #d95600;
}




@media (min-width: 1000px) {
  

}
@media (min-width: 1400px) {
  


}






 
